{% extends "base.html" %}
{% load static %}

{% block title %}Set New Password{% endblock %}

{% block extrastyle %}
   <link rel="stylesheet" href="{% static 'css/change_p.css' %}">
{% endblock extrastyle %}

{% block content %}
<div class="container mt-5">
     <!-- Display Messages
     {% if messages %}
     {% for message in messages %}
         <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
             {{ message }}
             {% if message.tags == "error" %}
                 <a href="{% url 'password_reset' %}" class="alert-link">Request a new password reset link</a>.
             {% endif %}
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
     {% endfor %}
 {% endif %} -->

    <h2 class="mb-4">Set a New Password</h2>

   
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Reset Password</button>
        </form>
    {% endif %}
</div>
{% endblock %}
